<!DOCTYPE html>
<html lang="en">
<head>
  <title>Web Forum</title>
</head>
<body>
  <div id="container">
    <h1>Welcome to the Forum</h1>
    <h3>Powered by Node.js and Express.js</h3>
    <div id="search">
      <a href="/search">Search</a>
    </div>
    <div id="newUser">
      <a href="/users/new">Create new user</a>
    </div>
    <div id="main-content">
      <a href="/topics/new">Create new thread</a>
      <table>
        <tr>
          <td>Title</td>
          <td>Created By</td>
          <td>Votes</td>
          <td>Location</td>
          <td>Upvote</td>
        </tr>
      {{#homepagePosts}}
        <tr>
          <td><a href="topics/{{topicID}}">{{postTitle}}</a></td>
          <td>{{username}}</td>
          <td>{{postVotes}}</td>
          <td>{{location}}</td>
          <td><form action="/upvote/topics/{{topicID}}?_method=PUT" method="POST"><button type="submit">Upvote</button></form></td>
        </tr>
      {{/homepagePosts}}
      </table>
    </div>
  </div>

</body>
</html>