<html>
<head>{{#expandedTopic}}
  <title>{{topic}}</title>
</head>
<body>
  <h1>Topic</h1>
  <h3>{{topic}}</h3>
  <h4>by: {{topicAuthor}}</h4>
  <h5>{{votes}} Votes</h5>
  <table>
    <tr>
      <td>Comment</td>
      <td>Author</td>
      <td>Location</td>
    </tr>
    <tr>
      <td>{{comment}}</td>
      <td>{{author}}</td>
      <td>{{location}}</td>
    </tr>
    <tr>
      <form action="/comments/new" method="POST" id="newCommentForm">
        <input type="hidden" name="{{topicID}}" />
        <label>
          Add New Comment: 
          <textarea rows='5' cols='50' name="newComment">
          </textarea>
        </label>
        <label>
          Your username: 
          <input type="text" name="username" />
        </label>
        <button type="submit">Submit</button>
      </form>
    </tr>
  </table>
{{/expandedTopic}}
</body>
</html>