<html>
<head>
  <title>{{topic}}</title>
</head>
<body>
  <h1>Topic</h1>
  <h3>{{topic}}</h3>
  <h4>by: {{topicAuthor}}</h4>
  <h5>{{votes}} Votes</h5>
  <table>
    <tr>{{#expandedTopic}}
      <td>Comment</td>
      <td>Author</td>
      <td>Location</td>
      <td>Edit?</td>
      <td>Delete?</td>
    </tr>
    <tr>
      <td>{{{comment}}}</td>
      <td>{{author}}</td>
      <td>{{location}}</td>
      <td><form method="POST" action="/topics/{{topicID}}/comments/{{commentID}}?_method=PUT"><button type="submit">Edit Comment</button></form></td>
      <td><form method="POST" action="/topics/{{topicID}}/comments/{{commentID}}?_method=DELETE"><button type="submit">Delete Comment</button></form></td>
    </tr>
    {{/expandedTopic}}
    <tr>
      <form action="/topics/{{topicID}}/comments/new" method="POST" id="newCommentForm">
        <label>
          Add New Comment: 
          <textarea rows='5' cols='50' name="newComment" placeholder="Type your comment here"></textarea>
        </label>
        <label>
          Your username: 
          <input type="text" name="username" />
        </label>
        <button type="submit">Submit</button>
      </form>
    </tr>
    <tr>
      <form method="POST" action="/topics/{{topicID}}?_method=DELETE">
        <button type="submit">Delete Post</button>
      </form>
    </tr>
  </table>
</body>
</html>